*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    background: #f7f7f7;
    /* background: #0b0f1a; */
    color: #222;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
header{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    color: #fff;
}
.nav a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.btn{
    background: #f5c542;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #060606;
}
.test a{
    padding: 12px 30px;
    color: white;
    background: #2b63c5;
}
.hero{
    height: 100vh;
    background: url("image.1/file_000000009d5c71f4bffb7908b93c.png")center no-repeat;
    position: relative;
}
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .6);
}
.hero-content{
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
}
.hero h1 span{
    color: #f5c542;
}
.stats{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    background: #464646;
    padding: 25px 56px;
    border-radius: 42px;
    border-left: 4px solid;
}
.stats strong{
    color: #f5c542;
}
.stats div{
    text-align: center;
}
.why{
    padding: 80px 0;
    text-align: center;
}
.why-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}
.box{
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #717d9c;
    box-shadow: 0 10px 18px rgba(102, 125, 199, 0.555);
    transition: .35s;
}
.box:hover{
    color: white;
    background: #223f7e;
    transform: translateY(-6px);
}
.courses{
    padding: 80px 0;
    text-align: center;
}
.course-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 20px;
    /* border-radius: 15px; */
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.course-cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card{
    background: #111;
    color: #fff;
    padding: 15px;
    border-radius: 66px;
    /* width: 37%; */
}
.card .taxt{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(15, 33, 126, 0.75), rgba(0,0,0,0));
    color: #fff;
}
.card .taxt h3{
    margin: 0 0 5px;
    font-size: 20px;
}
.card .taxt p{
    margin: 0;
    font-size: 14px;
    opacity: .9;
}
.card img{
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card .small{
    display: inline-block;
    margin-top: 10px;
    color:white;
}
.card .small:hover{
    color: #5f7ab4;
}
.test{
    padding: 80px 0;
    text-align: center;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
    gap: 20px;
}
.review{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}
/* .course-cards .card{ */
    /* opacity: 0; */
    /* transform: translateY(40px); */
    /* animation: fadeUp .8s ease forwards; */
/* } */
/* @keyframes fadeUp{ */
    /* to{ */
        /* opacity: 1; */
        /* transform: translateY(0); */
    /* } */
/* } */
/* .course-cards .card:nth-child(1){ */
    /* animation-delay: .2s; */
/* } */
/* .course-cards .card:nth-child(2){ */
    /* animation-delay: .4s; */
/* } */
/* .course-cards .card:nth-child(3){ */
    /* animation-delay: .6s; */
/* } */
.card{
    opacity: 0;
    transform: translateY(50px);
    transition: all .7s ease;
}
.card.active{
    opacity: 1;
    transform: translateY(0);
}
.menu-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle span{
    height: 3px;
    width: 25px;
    background: #fff;
    border-radius: 10px;
    transition: 0.35s;
    margin: 4px 0;
}
.menu-toggle.active span:nth-child(1){
    transform: translateY(11px) rotate(45deg);
}
.menu-toggle.active span:nth-child(2){
    opacity: 0;
}
.menu-toggle.active span:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);
}
.nav.show{
    right: 0;
}
.nav a:hover,
.nav a.active{
    color: #5752f1;
    text-shadow: 0 0 10px #5752f1;
}
.review img{
    width: 80px;
    border-radius: 50%;
}
.stars{
    color: #f5c542;
    font-size: 18px;
}
footer{
    text-align: center;
    padding: 20px;
    background: #020d25;
    color: #60acc1;
    margin-top: 30px;
}
.contact{
    padding-bottom: 10px;
    padding-top: 120px;
}
@media(max-width: 714px){
    .contact{
        padding-top: 330px;
    }
}
@media(max-width:491px){
    .contact{
        padding-top: 560px;
    }
}
.form .btn{
    position: relative;
    left: 202px;
    color: white;
    border:1px solid #2b63c5;
}
.form .btn:hover{
    background-color: #2b63c5;
}
.collapse .nav-item .nav-link.active{
    color: #7493c9;
    /* border-bottom: 1px solid #2b63c5; */
}
@media(max-width :900px){
    .menu-toggle{
        display: flex;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -300px;
        /* width: 260px; */
        /* height: 100vh; */
        background: #0b0f1a;
        padding: 40px 20px;
        transition: .4s;
        flex-direction: column;
        background: rgba(163, 149, 249, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        height: 42%;
        width: 28%;
        margin-top: 12%;
    }
    .nav ul{
        flex-direction: column;
    }
    .nav li{
        margin-bottom: 15px;
    }

    .register-btn{
        display: none;
    }
    .menu-toggle{
        display: flex;
        margin-right: 40px;
    }
    .nav.show{
        right: 0;;
    }
} 
